<% if user_signed_in? %>
	<h3>Bienvenido <%= current_user.email %></h3><!--current_user utiliza la informacion del usuario-->
<%end%>
<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>
