<h1><%= @user.email %></h1>
<% if user_signed_in? and current_user.can_follow?(@user.id) %>
	<button class="btn btn-info" id="follow_btn" data-friend="<%= @user.id %>"><i class="fa fa-user"></i>Follow</button>
<%end%> 